{:log-path "./metlog.log"
 :development-mode true
 :vault {:http-port 8080
         :db {:subname "./local-db/metlog-vault"}}
 :agent {:name "local"
         :vault-url "http://localhost:8080"
         :sensor-file "./sensor.clj"}}
