{:app {:name "Metlog"}
 :log-path "/var/log/metlog/metlog.log"
 :development-mode false
 :mode #{:vault :agent}
 :vault {:http-port 8080
         :http-thread-count 4
         :hot-storage-days 180}
 :agent {:name "default"
         :vault-url "http://metrics.mschaef.com"
         :vault-update-size-limit 200
         :vault-update-interval-sec 60
         :vault-healthcheck-interval-sec 60
         :sensor-file "/etc/metlog/config.clj"}

 :job-schedule {:data-archiver "10 * * * *"
                :sample-ingress-queue "*/1 * * * *"
                :sample-jvm-stats "0 * * * *"
                :store-ingress-queue "*/1 * * * *"}}
