{:app {:name "Metlog"}
 :log-path "/var/log/metlog/metlog.log"
 :development-mode false
 :mode #{:vault :agent}
 :vault {:http-port 8080
         :hot-storage-days 180
         :db {}}
 :agent {:vault-url "http://metrics.mschaef.com/data"
         :vault-update-size-limit 200
         :vault-update-interval-sec 60
         :sensor-file "/etc/metlog/config.clj"}}
