<configuration debug="false">
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5p %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="metlog-agent.core" level="TRACE"/>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
