body {
    margin: 0;
    font-family:Helvetica,Arial,Verdana,sans-serif;
    font-size: 30px;
    line-height: 1.2;

    background-color: #e7e7e7;

    height: 100vh;
    overflow-y: hidden;
}

input {
    font-size: 80%;
}

body {
    font-size: 32pt;
}

@media only screen and (min-device-width : 640px) {
    body {
        font-size: 12px;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;

    height: inherit;
    overflow-y: hidden;
}

.header {
    display: flex;
    flex: 0 0 auto;
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 1em;

    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);

    align-items: center;

    z-index: 2;
}

.header input[type=text] {
    border: 0px;
    background: #e0e0e0;
    margin: 0.66em;

    padding: 0.33em;

    box-sizing: border-box;
}

.header-element {
    display: inline-flex;
    align-items: center;
    flex: 0;
}

.header-element select {
    margin-right: 8px;
}

.header-element input {
    margin-right: 8px;
}


.header-element.manage-dashboard {
    flex: 1;
}

.header .header-element .query-window {
    width: 100px;
}

.header .header-element.app-name{
    font-weight: bold;
    padding-right: 0.66em;
    flex: 0 0 auto;
}

.header .header-element.manage-dashboard {
    flex: 1 0 auto;
    padding-right: 0.33em;
}

.header input.uncommitted.invalid {
    background: #ffd0d0;
    border: 1px solod red;
}

.header input.uncommitted {
    background: #ffffd0;
    border: 1px solod red;
}

/* series-pane */

.series-list {
    overflow-y: scroll;
}

.series-pane {
    border-bottom: 1px solid #e0e0e0;

    background-color: white;
}

.series-pane {
    border-bottom: none;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

@media only screen and (min-device-width : 640px) {
    .series-pane {
        margin: 0.66em;
    }
}

.series-pane .series-pane-header {
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

.series-pane .series-pane-header .series-name {
    font-weight: bold;
    padding-left: 0.66em;
    padding-right: 0.66em;
}

.series-pane .series-pane-header .close-button {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.series-pane .series-pane-header .close-button:hover {
    color: blue;
}

.tsplot-container {
    line-height: 0px;
}

.add-series-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-device-width : 640px) {
    .add-series-body {
        height: 150px;
    }
}

.pill {
    font-weight: normal;

    margin-left: 0.25em;
    margin-right: 0.25em;

    padding-left: 0.375em;
    padding-right: 0.375em;
    font-size: 36px;

    border-radius: 5px;
    background: #f0f0f0;
}

@media only screen and (min-device-width : 640px) {
    .pill {
        font-size: 11px;
    }
}

.add-series-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-series-row {
    margin-top: 3px;
    margin-bottom: 3px;
}

.add-series-form label {
    margin-right: 2px;
}

.add-series-form .submit-block {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
