body {
    margin: 0;
    font-family:Helvetica,Arial,Verdana,sans-serif;
    font-size: 30px;
    line-height: 1.2;

    background-color: #e7e7e7;

    height: 100vh;
    overflow-y: hidden;
}

input {
    font-size: 80%;
}

@media only screen and (min-device-width : 960px) {
    body {
        font-size: 12px;
    }

    input {
        font-size: 80%;
    }
}

#metlog {
    height: inherit;
    overflow-y: hidden;
}

.dashboard {
    display: flex;
    flex-direction: column;

    height: inherit;
    overflow-y: hidden;
}

.header {
    display: flex;
    flex: 0 0 auto;
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 1em;

    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);

    align-items: center;

    z-index: 2;
}

.header input[type=text] {
    border: 0px;
    background: #e0e0e0;
    margin: 0.66em;

    padding: 0.33em;

    box-sizing: border-box;
    width:100%
}

.header .header-element {
    margin-right: 5px;
}

.header span#app-name {
    font-weight: bold;
    padding-right: 0.66em;
    flex: 0 0 auto;
}

div#add-series {
    flex: 1 0 auto;
    padding-right: 0.33em;
}

div#query-window {
    flex: 0 0 100px;
}

.header input.uncommitted.invalid {
    background: #ffd0d0;
    border: 1px solod red;
}

.header input.uncommitted {
    background: #ffffd0;
    border: 1px solod red;
}

/* series-pane */

.series-list {
    overflow-y: scroll;
}

.series-pane {
    border-bottom: 1px solid #e0e0e0;

    background-color: white;
}

@media only screen and (min-device-width : 960px) {
    .series-pane {
        border-bottom: none;
        margin: 0.66em;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
    }
}

.series-pane .series-pane-header {
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

.series-pane .series-pane-header .series-name {
    font-weight: bold;
    padding-left: 0.66em;
    padding-right: 0.66em;
}

.series-pane .series-pane-header .close-form {
    float: right;
    padding-right: 10px;
    font-weight: bold;
    color: #c0c0c0;
    cursor: pointer;
}

.series-pane .series-pane-header .close-button:hover {
    color: blue;
}

.header-element {
    display: inline-block;
}

.tsplot-container {
    line-height: 0px;
}
