{:app {:name "Metlog Agent"}
 :log-path "/var/log/metlog-agent/metlog-agent.log"
 :development-mode false
 :update-size-limit 200
 :vault-update-interval-sec 60
 :sensor-file "/etc/metlog-agent/config.clj"
 :vault-url "http://metrics.mschaef.com/data"}
