<configuration debug="false">

 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4r [%t] %-5p %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="metlog-vault.core" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  
</configuration>
