{:mode #{:vault :agent}
 :log-path "/var/log/metlog/metlog.log"
 :vault {:http-port 8080
         :db {:subname "/var/lib/metlog/metlog"}}
 :agent {:name "cloud"
         :vault-url "http://localhost:8080"
         :sensor-file "/etc/metlog/sensor.clj"}}
