{::mode #{:vault :agent}
 log-path "/var/log/metlog/metlog.log"
 :vault {:http-port 8080
         :db {:subname "/var/lib/metlog/metlog"}}
 :agent {:vault-url "http://metrics.mschaef.com/data"
         :sensor-file "/etc/metlog/sensor.clj"}}
